@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div>

    <select id="symptomsSelectList"
            name="symptoms"
            data-source="/api/symptoms"
            data-valueKey="SymptomId"
            data-displayKey="Name"></select>
    <button onclick="addItem()">add item</button>

    <table id="selectedSymptoms">
        <th>Selected Symptoms</th>
    </table>

    <table id="conditionList" data-source="/api/conditions" class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Rare</th>
                <th>SnoMedID</th>
                <th>Symptoms</th>
            </tr>
        </thead>
    </table>

    <table class="table table-bordered table-striped table-responsive">
        <th>Name</th>
        <th>Description</th>
        <th>Rare</th>
        <th>SnoMedID</th>
        <th>Symptoms</th>
        @foreach (var Condition in ViewData["Conditions"] as IEnumerable
        <Condition>
            )
            {
            <tr>
                <td>@Condition.Name</td>
                <td>@Condition.Description</td>
                <td>@Condition.IsRare</td>
                <td>@Condition.SnoMedId</td>
                <td>
                    @if (@Condition.ConditionSymptoms.Any())
                    {
                    <ol>
                        @foreach (var symptom in @Condition.ConditionSymptoms.Select(s => s.Symptom.Name))
                        {
                        <li>@symptom</li>
                        }
                    </ol>
                    }
                </td>
            </tr>
            }
    </table>

    @section scripts{
    <script type="text/javascript">
            $('select[data-source]').each(function() {
                var $select = $(this);

                $select.append('<option></option>');

                $.ajax({
                    url: $select.attr('data-source')
                }).then(function(options) {
                    options.map(function(option) {
                        var $option = $('<option>');

                        $option
                            .val(option[$select.attr('data-valueKey')])
                            .text(option[$select.attr('data-displayKey')]);

                        $select.append($option);

                    });
                });
            });

            $('table[data-source]').each(function() {
                var $table = $(this);

                var table = document.getElementById("conditionList");

                $.ajax({
                    url: $table.attr('data-source')
                }).then(function(data) {
                    data.map(function(datum) {
                       var row = table.insertRow(-1);

                       var cell0 = row.insertCell(0);
                       var cell1 = row.insertCell(1);
                       var cell2 = row.insertCell(2);
                       var cell3 = row.insertCell(3);
                       var cell4 = row.insertCell(4);

                       cell0.innerHTML = datum.Name;
                       cell1.innerHTML = datum.Description;
                       cell2.innerHTML = datum.IsRare;
                       cell3.innerHTML = datum.SnoMedId;

                       var symptomsStr = "";
                       datum.Symptoms.map(function(symptom){
                           symptomsStr = symptomsStr.concat("- ", symptom, "<br/>")
                       });

                       cell4.innerHTML = symptomsStr;


                    });
                });


            });

            function addItem(){
                var table = document.getElementById("selectedSymptoms");
                var symptom = document.getElementById("symptomsSelectList").options[document.getElementById("symptomsSelectList").selectedIndex].text;
                var row = table.insertRow(-1);

                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);

                cell1.innerHTML = symptom;
                cell2.innerHTML = "I WILL BE A BUTTON";
            }
    </script>
    }

</div>