@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div>

    <select
        id="symptomsSelectList"
        name="symptoms"
        data-source="/api/symptoms"
        data-valueKey="SymptomId"
        data-displayKey="Name">
    </select>
    <button onclick="addItem()">add item</button>

    <table id="selectedSymptoms">
        <th>Selected Symptoms</th>
    </table>

    <table class="table table-bordered table-striped table-responsive">
        <th>Name</th>
        <th>Description</th>
        <th>Rare</th>
        <th>SnoMedID</th>
        <th>Symptoms</th>
        @foreach (var Condition in ViewData["Conditions"] as IEnumerable<Condition>)
        {
            <tr>
                <td>@Condition.Name</td>
                <td>@Condition.Description</td>
                <td>@Condition.IsRare</td>
                <td>@Condition.SnoMedId</td>
                <td>
                    @if (@Condition.ConditionSymptoms.Any())
                    {
                        <ol>
                            @foreach (var symptom in @Condition.ConditionSymptoms.Select(s => s.Symptom.Name))
                            {
                                <li>@symptom</li>
                            }
                        </ol>
                    }
                </td>
            </tr>
        }
    </table>

    @section scripts{
        <script type="text/javascript">
            $('select[data-source]').each(function() {
                var $select = $(this);

                $select.append('<option></option>');

                $.ajax({
                    url: $select.attr('data-source')
                }).then(function(options) {
                    options.map(function(option) {
                        var $option = $('<option>');

                        $option
                            .val(option[$select.attr('data-valueKey')])
                            .text(option[$select.attr('data-displayKey')]);

                        $select.append($option);

                    });
                });
            });

            function addItem(){
                var table = document.getElementById("selectedSymptoms");
                var symptom = document.getElementById("symptomsSelectList").options[document.getElementById("symptomsSelectList").selectedIndex].text;
                var row = table.insertRow(-1);

                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);

                cell1.innerHTML = symptom;
                cell2.innerHTML = "I WILL BE A BUTTON";
            }
        </script>
    }

</div>