@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div>
    <div id="Symptoms">
        BOB
    </div>
    <table class="table table-bordered table-striped table-responsive">
        <th>Name</th>
        <th>Description</th>
        <th>Rare</th>
        <th>SnoMedID</th>
        <th>Symptoms</th>
        @foreach (var Condition in ViewData["Conditions"] as IEnumerable<Condition>)
        {
            <tr>
                <td>@Condition.Name</td>
                <td>@Condition.Description</td>
                <td>@Condition.IsRare</td>
                <td>@Condition.SnoMedId</td>
                <td>
                    @if (@Condition.ConditionSymptoms.Any())
                    {
                        <ol>
                            @foreach (var symptom in @Condition.ConditionSymptoms.Select(s => s.Symptom.Name))
                            {
                                <li>@symptom</li>
                            }
                        </ol>
                    }
                </td>
            </tr>
        }
    </table>

    <select
        name="symptoms"
        data-source="/api/symptoms"
        data-valueKey="SymptomId"
        data-displayKey="Name">
    </select>

    @section scripts{
        <script type="text/javascript">
            $('select[data-source]').each(function() {
                var $select = $(this);

                $select.append('<option></option>');

                $.ajax({
                    url: $select.attr('data-source');
                }).then(function(options) {
                    options.map(function(option) {
                        var $option = $('<option>');

                        $option
                            .val(option[$select.attr('data-valueKey')])
                            .text(option[$select.attr('data-displayKey')]);

                        $select.append($option);

                    });
                });
            });

            //$.ajax({
                //url: "/api/symptoms",
                //})
        </script>
    }

</div>